body{
    background-color:  hsl(233, 47%, 7%);
}
.attribution{
    width: 50%;
    height: 50vh;
    margin: auto;
    margin-top: 150px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    background:#000C66 ;
}
span{
    color:purple;

}
.content{
    border-radius:10px 0 0 10px;
    padding:10px 10px;
    background-color:hsl(244, 38%, 16%) ;
font-size: 15px;
color:hsla(0, 0%, 100%, 0.75);

}
.values{
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}
#Title{
    font-size: 40px;
    font-weight: bold;
    color:#ffff;
}

.pic{
    border-radius:0 10px 10px 0;
    height: 50vh;
    max-width: 200%;
}
.tag{
    text-transform: uppercase;
}
.num{
    font-weight: 700;
    font-size: 17px;
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .attribution{
        margin-top:550px;
flex-direction: column-reverse;
    }
    
    .pic{
        border-radius:10px 10px 0 0;
        flex:2;
        height: 250px;
        max-width: 100%;
    }
    .content{
        border-radius:0 0 10px 10px;
    }
    .values{
        flex-direction: column;
    }
    #Title{
        font-size: 30px;
        font-weight: bold;
        color:#ffff;
    }
    #maintext{
        font-size: 15px;
    }
    
}